body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #031716, #032f30, #0a7075, #0c969c, #6ba3be, #274d60);
    color: #ffffff;
    overflow-x: hidden;
    }

    header {
        background-color: rgba(3, 23, 22, 0.8);
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* position: sticky; */
        top: 0;
        z-index:100;
    }
    


    .btn {
        width: 100%;
        padding: 12px;
        background-color: #1f5355;
        color: rgb(239, 234, 234);
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        margin-top: 0rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        a{
            text-decoration: none;
        color: #efebeb;
        }
    }

    .btn:hover {
        background-color: #025051;
        box-shadow: 2px 2px 2px black;
    }
    @media (max-width: 600px) {
        .container {
            margin: 1rem;
            padding: 1.5rem;
        }
    } 
 

  


    h1{
        color:white;
        font-family:serrif;
        font-size:40px;
    }

    p{
        color:white;
        font-family:sans-serif;
        font-size:16;
        font-style:italic;
    }

    h1,p{
        text-align:center;
        max-width:auto;
    }

    .register{
        width:75%;
        background-color:#031716;
        margin-left:auto;
        margin-right:auto;
        padding:15px;
        max-width:400px;
        color:white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
      
    }

    fieldset{
        border:none;
        padding:1rem 0;
    }

    label{
        display:block;
        margin:0.5rem 0;
    }

    input,textarea{
        margin:5px 0 0 0;
        width:100%;
        min-height:2.5em;
        border-radius:16px;
    }

    select{
        margin:5px 0 0 0;
        width:101%;
        min-height:2.9em;
        border-radius:16px;  
    }

    .inline{
        width:unset;
        margin:0 0.5em 0 0;
        vertical-align:middle;
    }
    input[type="checkbox"]{
        width:unset;
        margin:0 1rem 0 0;
        vertical-align:middle;
    }

    input[type="submit"]{
        background-color:#025051;
        margin:0 1em 0 0;
        width:100%;
        text-align:center;
        border:none;
        max-width:500px;
        height:3.2em;
        font-size:0.8em;
        border-radius: 16px;
        color: white;;
        
    }
    .btn {
        width: 100%;
        padding: 12px;
        background-color: #1f5355;
        color: rgb(239, 234, 234);
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        margin-top: 0rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        a{
            text-decoration: none;
        color: #efebeb;
        }
    }

    .btn:hover {
        background-color: #025051;
        box-shadow: 2px 2px 2px black;
    }
    @media (max-width: 600px) {
        .container {
            margin: 1rem;
            padding: 1.5rem;
        }
    } 
 

    .responsive{
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-left: 160px;
        justify-content: space-between;
    }